{% extends "base.html" %}

{% block title %} Impressum {% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col">
      <p>
      <b>PolyGEN engine programmed by:</b>
      <div class="text-center">
        Christoph Wagner B.Sc. <br />
        E-Mail: chwag108@hhu.de<br /><br />
        Dr. Uriel Urquiza García<br />
        E-Mail: urquizag@hhu.de
      </div>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
      <b>Web application programmed by:</b>
      <div class="text-center">
        Dr. Uriel Urquiza García<br />
        E-Mail: urquizag@hhu.de<br /><br />
        Christoph Wagner B.Sc.<br />
        E-Mail: chwag108@hhu.de
      </div>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
      <b>Principal Investigator:</b>
      <div class="text-center">
      Prof. Dr. Matias Zurbriggen<br />
      Institute of Synthetic Biology<br />
      Heinrich-Heine-Universität Düsseldorf<br />
      Universitätsstraße 1<br />
      40225 Düsseldorf<br />
      Building 26.24<br />
      Floor/Room 00.076<br />
      E-Mail: matias.zurbriggen@uni-duesseldorf.de<br />
      Tel.: +49 211 81-15015
      </div>
      </p>
    </div>
  </div>
</div>

{% endblock %}
