{% extends "base.html" %}

{% block table %}
<div class="container">
  {% set general_msg = session['msg'] %}
  {% set overhang_warning = session['plcstrn'].overhang_warning %}
  {% if overhang_warning %}
    <div class="alert alert-warning" role="alert">
      <strong>Assembly warning:</strong> {{ overhang_warning }}
    </div>
  {% elif general_msg %}
    <div class="alert alert-danger" role="alert">
      {{ general_msg }}
    </div>
  {% endif %}
	  {% if session['plcstrn'].overhang_statuses %}
	  <div class="row">
	    <div class="col">
	      <div style="margin: 10px 0 18px 0;">
	        <strong>Selected internal overhangs:</strong>
	        {% for overhang in session['plcstrn'].overhang_statuses %}
	          {% if overhang.status == 'tm_rescue' %}
	            {% set badge_color = '#D95F02' %}
	            {% set badge_bg = '#FFF0E6' %}
	          {% elif overhang.status == 'collection_rescue' %}
	            {% set badge_color = '#B35C00' %}
	            {% set badge_bg = '#FFF6D8' %}
	          {% else %}
	            {% set badge_color = '#1B7F3A' %}
	            {% set badge_bg = '#E8F6EC' %}
	          {% endif %}
	          <span title="{{ overhang.note }}" style="display:inline-block; margin:4px 4px 0 0; padding:4px 8px; border:1px solid {{ badge_color }}; border-radius:4px; color:{{ badge_color }}; background:{{ badge_bg }}; font-weight:bold;">
	            {{ overhang.index }}: {{ overhang.overhang|upper }} ({{ overhang.status.replace('_', ' ') }})
	          </span>
	        {% endfor %}
	      </div>
	    </div>
	  </div>
	  {% endif %}
	  <div class="row">
	    <div class="col">
      <div class="form-group" align="center">
        <a href={{ url_for('serve_primers') }} class="btn btn-primary">Download</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Fragment ID</th>
            <th scope="col">Fragment type</th>
            <th scope="col">Forward Primer in 5' <span>&#8594;</span> 3'</th>
            <th scope="col">Reverse Primer in 5' <span>&#8594;</span> 3'</th>
          </tr>
        </thead>
        <tbody>

        {% for fragment in session['plcstrn'].parts %}
        <tr>
          <th scope="row" > {{session['PTG_name']}}_{{loop.index0}} </th>
          <td> {{fragment.type}} </td>
          <td> {{fragment.primer_forward}} </td>
          <td> {{fragment.primer_reverse}} </td>
        </tr>
        {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
