{% extends "base.html" %}
{% block table %}

{% if session['msg']=='comb_warn' %}
  <p style="color:red;">The given combination of existing overhangs is not compatible with an optimal overhang set. Computed the best overhang set not including the given existing overhangs. There might be interference between overhangs. </p>
{% endif %}
<table class="table">
<thead>
  <tr>
    <th scope="col">Oligo</th>
    <th scope="col">Fragment</th>
    <th scope="col">Forward</th>
    <th scope="col">Reverse</th>
  </tr>
</thead>
<tbody>
{% for fragment in out %}
<tr>
  <th scope="row" > {{session['PTG_oligo']}}{{loop.index0}} </th>
  <td> {{fragment.name}} </td>
  <td> {{fragment.primer_forward}} </td>
  <td> {{fragment.primer_reverse}} </td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
